
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-image:  linear-gradient(
        0deg,rgba(49, 195, 221, 0.9),rgba(49, 195, 221, 0.9)), url(../../../images/hangout.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
  .containertwo {
    position: relative;
   
  }
  .containertwo:hover .overlay {
    opacity:10;
  }
  .text {
    color: white;
    
    position: absolute;
    width: 80%;
    height: 100%;
    top: 50%;
    left: 45%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
    
  }
  .blogicon{
      font-size: 40px;
      
      cursor: pointer;
  }