.appointment-container{
    min-height:800px;
     
    position:relative;
    background-image:linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1)), url(../../../images/bg.png);
    background-size: cover;
}