/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Varela', sans-serif; */

h1,h2,h3,h4,h5,h6{
  font-family: 'Josefin Sans', sans-serif !important;
}
p{
  font-family: 'Lora', serif;
}
li{
  font-family: 'Varela', sans-serif 
}
button{
  font-family: 'Josefin Sans', sans-serif;
}